body{
    background: #ECF0F1;
}
nav{
    background: #04184A;
    height: 100px;
    img{
        width: 350px;
        height: 90px;
        margin: 5px 0 0 0;
    }
}
.container{
    margin-top: 30px;
}
.btn-color{
    background: #3498DB;
    height: 60px;
    margin-top: 40px;
    &:hover{
        background: #2980B9;
        cursor: pointer;
    }
}
